@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: url("http://127.0.0.1:8000/static/images/hero-bg.jpg")
    center/cover no-repeat;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
}

.navbar {
  display: flex;
  padding: 22px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .hamburger-btn {
  display: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
}

.navbar .logo {
  gap: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar .logo img {
  width: 40px;
  border-radius: 50%;
}

.navbar .logo h2 {
  color: #fff;
  font-weight: 600;
  font-size: 1.7rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.navbar .links {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.navbar .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  color: #000;
  cursor: pointer;
}

.navbar .links a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.1s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.navbar .links a:hover {
  color: #c519ff;
}

.navbar .login-btn {
  border: none;
  outline: none;
  background: #fff;
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.15s ease;
}

.navbar .login-btn {
  position: relative;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.navbar .login-btn:hover {
  background: #a62de7;
  color: white;
  box-shadow: 0 0 6px #a62de7, 0 0 12px #a62de7;
  animation: fadeInGlow 0.5s ease-in-out forwards;
}

@keyframes fadeInGlow {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  max-width: 720px;
  background: rgba(0, 0, 0, 0.85);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  transform: translate(-50%, -70%);
}

.show-popup .form-popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #878484;
  cursor: pointer;
}

.blur-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
  opacity: 1;
  pointer-events: auto;
}

.form-popup .form-box {
  display: flex;
}

.form-box .form-details {
  width: 100%;
  color: #fff;
  max-width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .form-details {
  padding: 0 40px;
  background: url("http://127.0.0.1:8000/static/images/login-img.jpg");
  background-position: center;
  background-size: cover;
}

.signup .form-details {
  padding: 0 20px;
  background: url("http://127.0.0.1:8000/static/images/signup-img.jpg");
  background-position: center;
  background-size: cover;
}

.form-box .form-content {
  width: 100%;
  padding: 35px;
  color: #fff;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 29px;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

form .input-field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.input-field input {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  font-size: 0.95rem;
  padding: 0 15px;
  color: #fff;
  border: 1px solid #717171;
  border-radius: 3px;
}

.input-field input:focus {
  border: 1px solid hwb(279 12% 16%);
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #b3b3b3;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
  padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid) ~ label {
  transform: translateY(-120%);
  color: hwb(279 12% 16%);
  font-size: 0.75rem;
}

.form-box a {
  color: hwb(279 12% 16%);
  text-decoration: none;
}

.form-box a:hover {
  text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
  display: inline-flex;
  margin-top: 13px;
  font-size: 0.95rem;
}

form button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 0;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  margin: 25px 0;
  background: hwb(279 12% 16%);
  transition: 0.2s ease;
}

form button:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 6px #a62de7, 0 0 12px #a62de7;
  opacity: 1;
  transition-delay: 0.2s;
}

.form-content .bottom-link {
  text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
  display: none;
}

.form-popup.show-signup .signup {
  display: flex;
}

.signup .policy-text {
  display: flex;
  margin-top: 14px;
  align-items: center;
}

.signup .policy-text input {
  width: 14px;
  height: 14px;
  margin-right: 7px;
}

/* Centering the heading and subtitle */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take full height of viewport */
  text-align: center; /* Center text horizontally */
  flex-direction: column; /* Stack the title and subtitle vertically */
}

.header-title {
  font-size: 3rem;
  background: linear-gradient(
    45deg,
    #bf1efe,
    #199fff
  ); /* Purple-pink gradient */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  background-clip: text; /* Clip the gradient to the text */
  color: transparent; /* Make the text color transparent to show the gradient */
  position: relative;
}

.header-title::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #fff;
  animation: animate 8s linear infinite;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.header-subtitle {
  font-size: 1.4rem;
  background: linear-gradient(
    45deg,
    #ffffff,
    #ffffff
  ); /* Purple-pink gradient */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  background-clip: text; /* Clip the gradient to the text */
  color: transparent; /* Make the text color transparent to show the gradient */
  font-weight: 300;

  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 950px) {
  .header-title {
    font-size: 2.5rem;
  }

  .header-subtitle {
    font-size: 1.2rem;
  }
  .navbar :is(.hamburger-btn, .close-btn) {
    display: block;
  }

  .navbar {
    padding: 15px 0;
  }

  .navbar .logo img {
    display: none;
  }

  .navbar .logo h2 {
    font-size: 1.4rem;
  }

  .navbar .links {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -100%;
    display: block;
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    text-align: center;
    background: #fff;
    transition: 0.2s ease;
  }

  .navbar .links.show-menu {
    left: 0;
  }

  .navbar .links a {
    display: inline-flex;
    margin: 20px 0;
    font-size: 1.2rem;
    color: #000;
  }

  .navbar .links a:hover {
    color: #00bcd4;
  }

  .navbar .login-btn {
    font-size: 0.9rem;
    padding: 7px 10px;
  }
}

@media (max-width: 760px) {
  .header-title {
    font-size: 2rem;
  }

  .header-subtitle {
    font-size: 1rem;
  }
  .form-popup {
    width: 95%;
  }

  .form-box .form-details {
    display: none;
  }

  .form-box .form-content {
    padding: 30px 20px;
  }

  .header-title::before {
    content: none;
    animation: none;
    filter: none;
  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0 10px;
}

.navbar {
  display: flex;
  padding: 22px 0;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.9);
  list-style: none;
  padding: 10px 0;
  min-width: 150px;
  border-radius: 5px;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .dropdown-menu li {
  padding: 10px;
}

.navbar .dropdown-menu a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  transition: 0.2s;
}

.navbar .dropdown-menu a:hover {
  background: #a62de7;
  color: #fff;
}

@media (max-width: 950px) {
  .navbar .dropdown-menu {
    position: static;
    display: none;
    width: 100%;
    background: none;
    text-align: center;
  }

  .navbar .dropdown.show-menu .dropdown-menu {
    display: block;
  }

  .navbar .dropdown-menu li {
    margin: 1px 0;
  }
  .navbar .dropdown-menu a {
    color: #a100d6;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    transition: 0.2s;
  }
}
